<section class="h-screen w-screen text-center overflow-hidden relative">
  <div class="z-30 relative h-full flex flex-col ">
      <div class="relative h-full flex justify-center pt-20">
        <section class="relative justify-center flex flex-col h-full w-3/4 gap-7">
          <h2 class="text-lg font-bold text-black">Conoce la gran variedad de productos que disponemos</h2>
          <div class="relative flex justify-center gap-16">
              <div class="relative flex justify-center flex-col mt- text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-[400px] h-72">
                  <div class="relative flex flex-col">
                  <div class="relative flex h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
                    <img class="flex justify-center relative w-full"
                      src="https://images.pexels.com/photos/7055131/pexels-photo-7055131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                      alt="card-image" />
                  </div>
                  <div class="flex flex-col relative">
                    <h5 class="block mb- font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                      Bolsas reutilizables
                    </h5>
                  </div>
              </div>
              </div> 

          <div class="relative flex justify-center flex-col mt- text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-[400px] h-72">
              <div class="relative flex flex-col">
              <div class="relative flex h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
                <img class="flex justify-center relative w-full"
                  src="https://images.pexels.com/photos/356036/pexels-photo-356036.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="card-image" />
              </div>
              <div class="flex flex-col relative">
                <h5 class="block mb- font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                  Paneles solares
                </h5>
              </div>
          </div>
          </div> 
      </section>
  </div>
  

      
      <footer class="flex flex-col relative pb-5">
          <div class="relative flex justify-center">
              <a class="text-white flex border-2 rounded transition duration-200 backdrop-blur-xxs font-bold px-6 py-2 border-white hover:bg-white hover:text-green-500" href="/Productos">Todos los productos</a>
          </div>
      </footer>
  </div>
  <div class="absolute top-0 left-0 h-full z-10 opacity-60 w-screen border-t-4">
      <video class="object-cover h-full w-full" autoplay loop muted src="/public/video-Productos.mp4"></video>
  </div>
</section>