<section class="h-screen w-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
        <div class="relative h-full flex justify-center pt-20">
            <section class="relative justify-center flex flex-col h-full w-3/4 gap-7">
                <h2 class="text-xl italic text-black">Te ayudamos a llegar con nosotros...</h2>
                <div class="relative flex flex-col items-center justify-center" >
                    <iframe class="flex justify-center w-72 h-72 border rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.80018526833!2d-78.47799112642083!3d-0.17275113541988213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59af272e33b21%3A0x38f9719cd7ba24a3!2sHSESERVICES%20SEGURIDAD%2C%20SALUD%20Y%20AMBIENTE%20C%C3%8DA.%20LTDA!5e0!3m2!1ses!2sec!4v1720308530958!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>    
                
            </section>
        </div>
        
        <footer class="flex flex-col relative pb-6">
            <div>
                <a class="text-white border-2 rounded backdrop-blur-xxs font-bold px-6 py-2 inline-block border-white hover:bg-white hover:text-green-500 transition-colors" href="/Contacto">Contáctanos</a>
            </div>
        </footer>
        

        <footer class="bg-white shadow dark:bg-gray-800 relative w-auto">
            <div class="w-full p-1 md:flex md:items-center md:justify-between relative">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/src/pages/index.astro" class="hover:underline"> SosTec</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        
    </ul>
    </div>
</footer>

    </div>
    <div class="absolute top-0 left-0 h-full z-10 opacity-50 w-screen">
        <video class="object-cover h-full w-full" autoplay loop muted src="/public/index.mp4"></video>
    </div>
    
</section>