<section class="h-screen w-screen text-center overflow-hidden relative bg-black">
    <div class="z-30 relative h-full flex flex-col ">
        <div class="relative h-full flex justify-center pt-20">
            <section class="relative justify-center flex flex-col h-full w-3/4 gap-7">
                <h2 class="text-2xl font-bold text-white">Juntos, construimos un futuro más verde</h2>
                    <p class=" text-white">
                        En Sostec, nuestra misión es promover la sostenibilidad a través de soluciones innovadoras y prácticas que ayudan a preservar nuestro planeta. Únete a nosotros en nuestra misión de crear un futuro más verde y limpio.
                    </p>
            </section>
        </div>
        <footer class="flex flex-col relative pb-24">
            <div>
                <a class="text-white border-2 rounded transition duration-200 backdrop-blur-xxs font-bold px-6 py-2 inline-block border-white hover:bg-white hover:text-green-500 " href="/Nosotros">Ver más</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 left-0 h-full z-10 opacity-80 w-screen">
        <video class="object-cover h-full w-full" autoplay loop muted src="/public/index.mp4"></video>
    </div>
</section>