<section class="h-screen w-screen text-center overflow-hidden relative bg-blac">
    <div class="z-30 relative h-full flex flex-col ">
        <div class="relative h-full flex justify-center pt-20">
            <section class="relative justify-center flex flex-col h-full  gap-7">
                <h2 class="text-5xl font-bold text-black ">Nuestro productos</h2>
                    
            </section>
        </div>
        
    </div>
    <div class="absolute top-0 left-0 h-screen z-10 opacity-55 w-full">
        <img class="w-full" src="https://img.freepik.com/foto-gratis/marco-productos-ecologicos_23-2148576630.jpg?t=st=1720494846~exp=1720498446~hmac=efe7615cf3663fdf05702f1c5493bb995278e94f19102e0f4b80d371bcf876d4&w=900" alt="">
    </div>
</section>