<section class="h-screen w-screen text-center overflow-hidden relative flex items-center bg-green-50">
  <div class="pt-20 bg-green-50">
      <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative bg-green-50">
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
          <a href="#" class="group">
            <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/vector-gratis/iconos-maqueta-realista-powerbank-cargadores-bateria-ilustracion-vectorial-aislada_1284-81778.jpg?t=st=1720495979~exp=1720499579~hmac=13c212c29735c72b621532fddb42f31002aaa68340e162439d212e2965caa741&w=360" alt="Cargadores solares para dispositivos electrónicos." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Cargadores solares para dispositivos electrónicos</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$20</p>
          </a>
          <a href="#" class="group">
            <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/surtido-utensilios-ecologicos_23-2148902905.jpg?t=st=1720496014~exp=1720499614~hmac=1df233163594ec852de125efa6aeb4a89a0bf93b254b795739b7548434f596c2&w=360" alt="Utensilios de cocina ecológicos." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Utensilios de cocina ecológicos</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$5</p>
          </a>
          <a href="#" class="group">
            <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/textura-yeso-blando_1194-8905.jpg?t=st=1720496092~exp=1720499692~hmac=2cbe844bdd10efdb9af7e6d5fae4c49d927e8ea98fcbcf89bbe5bec99c130bc8&w=900" alt="Papel reciclado." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Papel reciclado</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$1</p>
          </a>
          <a href="#" class="group">
            <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/rollos-papel-higienico-alto-angulo-alineados_23-2148508060.jpg?t=st=1720496290~exp=1720499890~hmac=b4639886cc26ae389bfab5b5132de4114b393276264343a6ec5b21299a7db513&w=740" alt="Papel higiénico reciclado." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Papel higiénico reciclado </h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$1</p>
          </a>
        </div>
      </div>
    </div>
  </section>