---
import Footer from "../Footer.astro";
---
<section class="h-screen w-full text-center overflow-hidden relative flex items-center bg-green-50">
  <div class="pt-20 bg-green-50">
      <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative bg-green-50">
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
          <a href="#" class="group">
            <div class="h-[325px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/endecha-plana-plantas-crecimiento_23-2149198329.jpg?t=st=1720496419~exp=1720500019~hmac=cc05e6650b948f2c637be8586a4cfef1bb366adef24e4e88a008f76a73b848be&w=360" alt="Macetas biodegradables." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Macetas biodegradables</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$3</p>
          </a>
          <a href="#" class="group">
            <div class="h-[325px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/nino-alto-angulo-jugando-casa_23-2150286130.jpg?t=st=1720496498~exp=1720500098~hmac=198057faba3f6c74f5a7d3c95861469ec9252c94e7607f9f5121d61c6804ecea&w=360" alt="Botella de agua reutilizable." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Juguetes de madera</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$8</p>
          </a>
          <a href="#" class="group">
            <div class="h-[325px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/bolsa-reciclable-manzanas-rojas_23-2148491104.jpg?t=st=1720496554~exp=1720500154~hmac=91ad83d1ffe58b579c654f6c895240f6633129c79dc588a9b69df99a2aa9be63&w=360" alt="Bolsas de malla para productos frescos." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Bolsas de malla para productos frescos</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$1,5</p>
          </a>
          <a href="#" class="group">
            <div class="h-[325px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="https://img.freepik.com/foto-gratis/vista-frontal-composicion-saludable-aceite-argan_23-2148989088.jpg?t=st=1720496605~exp=1720500205~hmac=1119dc56db74d7ec5c2ef812f708ef98e80879c6cf4d38bffd7611cc5834b095&w=360" alt="Aceites esenciales naturales." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Aceites esenciales naturales</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$1,5</p>
          </a>
        </div>
      </div>
    </div>
  </section>

    <Footer />