<section class="h-screen w-screen text-center overflow-hidden relative flex items-center bg-green-50">
<div class="pt-20 bg-green-50">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative bg-green-50">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <a href="#" class="group">
          <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="https://img.freepik.com/foto-gratis/retrato-mujer-joven-sonriente-sosteniendo-bolsa-reutilizable_23-2148454572.jpg?w=360&t=st=1720494314~exp=1720494914~hmac=622ca9cffe89fe50d0164a75c643266036badb7dff7568047806e24b3b6e4caf" alt="Bolsa reutilizable." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Bolsa Reutilizable</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$2</p>
        </a>
        <a href="#" class="group">
          <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="https://img.freepik.com/foto-gratis/acerca-alternativas-sostenibles-botellas_23-2149165720.jpg?t=st=1720494413~exp=1720498013~hmac=6a8d296f69b2c7770e823f1f96a9a721dc1d3f315b1a86736eb32b0944109828&w=900" alt="Botella de agua reutilizable." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Botella de agua reutilizable</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$5</p>
        </a>
        <a href="#" class="group">
          <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="https://img.freepik.com/foto-gratis/pajitas-metal-reutilizables-bolsa_23-2148768651.jpg?t=st=1720494515~exp=1720498115~hmac=89a66b62b2bc7337bd0b56b7227fa7fd258dbeefc67b0bd42d75f9d1e5e4802f&w=360" alt="Pajillas de acero inoxidable o bambú." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Pajillas de acero inoxidable</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$4</p>
        </a>
        <a href="#" class="group">
          <div class="h-[350px] aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="https://img.freepik.com/foto-gratis/concepto-idea-bombilla_23-2149105811.jpg?t=st=1720494594~exp=1720498194~hmac=94e8496741bb6b2263561c364ae46c6878e754dcb5ddad7e0e4fa68df4d5dc66&w=900" alt="Eco Bombillas LED ." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Eco Bombillas LED </h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$1,5</p>
        </a>
      </div>
    </div>
  </div>
</section>