<section class="h-screen w-screen text-center overflow-hidden relative flex items-center bg-green-50">
    <div class="h-screen w-1/3 flex flex-grow flex-col gap-10 items-center justify-center pl-20 pr-20 pt-20 flex-wrap">
        <h1 class="font-bold text-3xl">Misión</h1>
    </div>
    <div class="h-full w-1/3 flex relative">
        <img class="h-full " src="/public/Nosotros/Vision.png" alt="">
    </div>
    <div class="h-1/2 w-1/3 flex flex-grow flex-col gap-10 items-center justify-center pl-0 pr-20 pt-20 flex-wrap">
        <h3 class="text-lg" >Nuestra misión es liderar el camino hacia un futuro más sostenible, proporcionando asesoramiento y soluciones prácticas que promuevan la protección del medio ambiente. Nos esforzamos por educar y capacitar a nuestros clientes para que adopten prácticas ecológicas eficientes, contribuyendo así a la preservación de nuestros recursos naturales y al bienestar de las generaciones futuras.</h3>
    </div>
    </section>