<section class="h-screen w-screen text-center overflow-hidden relative flex items-center bg-green-50">
    <div class="h-full flex relative">
        <img class="h-full " src="/public/Nosotros/QuienesSomos.png" alt="">
    </div>
    <div class="h-screen w-2/3 flex flex-grow flex-col gap-10 items-center justify-center pl-20 pr-20 pt-20 flex-wrap">
        <h1 class="font-bold text-3xl">¿Quiénes somos?</h1>
        <h3 class="text-xl" >En Sostec, nos dedicamos a ofrecer soluciones innovadoras en el ámbito de la sostenibilidad ambiental. Somos un equipo apasionado por el cuidado del planeta y comprometido con la promoción de prácticas ecológicas que generen un impacto positivo en nuestra comunidad y en el mundo. Nuestra empresa se especializa en consultoría ambiental, ayudando a organizaciones y personas a adoptar estrategias sostenibles que reduzcan su huella ecológica.</h3>
    </div>
    </section>