---
import Footer from "../Footer.astro";
---
<section class="h-screen w-full text-center overflow-hidden relative flex items-center bg-green-50">
        <div class="h-screen w-1/2 flex flex-grow flex-col gap-10 items-center justify-center pl-20 pr-20 pt-20 flex-wrap">
            <h1 class="font-bold text-3xl">Carbono Neutro</h1>
            <h3 class="text-lg text-justify" >En Sostec, te ayudamos a alcanzar la neutralidad de carbono a través de estrategias efectivas y prácticas innovadoras. Ofrecemos servicios de evaluación de la huella de carbono, desarrollo de planes de reducción de emisiones y compensación de carbono. Nuestro enfoque integral te permite no solo cumplir con los objetivos de sostenibilidad, sino también contribuir significativamente a la lucha contra el cambio climático, creando un impacto positivo en el medio ambiente y demostrando tu compromiso con un futuro más verde.</h3>
        </div>
        <div class="h-full flex relative w-1/2">
            <img class="h-full " src="https://img.freepik.com/foto-gratis/vista-frontal-hombre-bloques-madera_23-2150196687.jpg?t=st=1720502931~exp=1720506531~hmac=14977ef77cc2392a31823358d4d62e0b79aed8502f6a2b97a24c4bfd43bf8869&w=900" alt="">
        </div>
        </section>
    <Footer />