<section class="h-screen w-screen text-center overflow-hidden relative flex items-center bg-green-50">
    <div class="h-full flex relative w-1/2">
        <img class="h-full " src="https://img.freepik.com/foto-gratis/feliz-empresaria-dando-presentacion-sobre-recursos-naturales-sus-colegas_23-2147826560.jpg?t=st=1720502690~exp=1720506290~hmac=e47b4d379050d707f4033b43356c4bbbd47819536012de6691268238c3140a34&w=900" alt="">
    </div>
    <div class="h-screen w-1/2 flex flex-grow flex-col gap-10 items-center justify-center pl-20 pr-20 pt-20 flex-wrap">
        <h1 class="font-bold text-3xl">Consultoría Ambiental</h1>
        <h3 class="text-lg text-justify" >Nuestra consultoría ambiental ofrece soluciones personalizadas para ayudar a empresas y organizaciones a cumplir con las normativas ambientales y mejorar su desempeño ecológico. Nos especializamos en la evaluación de impacto ambiental, la gestión de residuos, la eficiencia energética y el diseño de estrategias sostenibles. Nuestro equipo de expertos trabaja de la mano con nuestros clientes para identificar oportunidades de mejora y desarrollar planes de acción que minimicen su huella ecológica y promuevan la sostenibilidad a largo plazo.</h3>
    </div>
    </section>