<section class="h-screen w-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col ">
        <div class="relative h-full flex justify-center pt-20">
            
        </div>
        
    </div>
    <div class="absolute top-0 left-0 h-screen z-10 w-full">
        <img class="w-full" src="https://img.freepik.com/foto-gratis/campos-parques-eolicos_23-2149154429.jpg?t=st=1720501867~exp=1720505467~hmac=26199ef35a6762b85ceac8fe0b717c9aaba0e12db895d8b547aad7d52220d8ab&w=900" alt="">
    </div>
</section>